<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.signal">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ForexSignal.Test.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ForexSignal.Test.ActivityMain" />
        <activity android:name="com.ForexSignal.Test.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ForexSignal.Test.ActivityPostDetails" />
        <activity android:name="com.ForexSignal.Test.ActivityCategoryDetails" />
        <activity android:name="com.ForexSignal.Test.ActivityWebView" />
        <activity
            android:name="com.ForexSignal.Test.ActivitySettings"
            android:theme="@style/AppThemeSetting" />
        <activity
            android:name="com.ForexSignal.Test.ActivitySearch"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.ForexSignal.Test.ActivitySendComment"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeDialog" />

        <!-- Ads activity -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- fireBase service -->
        <service
            android:name="com.ForexSignal.Test.fcm.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- fireBase iid service] -->
        <service
            android:name="com.ForexSignal.Test.fcm.FcmInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>